{:kotoba.app/id "cloud.itonami.isic-6810", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiahjmxi4jebexxzgtvealmhvosjgjiayx5cz7gjpial37ffhruv4y", :kotoba.app/embed-url "ipfs://bafkreiahjmxi4jebexxzgtvealmhvosjgjiayx5cz7gjpial37ffhruv4y", :published {:archive "https://kotobase.net/ipfs/bafkreiahjmxi4jebexxzgtvealmhvosjgjiayx5cz7gjpial37ffhruv4y", :size 79741, :put-status 201, :get-status 200, :at "2026-08-15T13:42:31.802Z"}}
